/* Bootstrap overwriting*/
body {
  color: #5d5d5d;
}

h1 {
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.current-icon {
  padding-right: 15px;
}

.current-weather {
  justify-content: right; /*justifies within flexbox*/
}

.sun-icon {
  color: orange;
}

.units {
  font-size: 16px;
  position: relative;
  top: -32px;
}

.weather-frame {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
}

.current-icon {
  font-size: 64px;
}

#current-temperature {
  font-size: 64px;
  font-weight: 300;
}
