/* Bootstrap overwriting*/
body {
  color: #5d5d5d;
}

h1 {
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sun-icon {
  color: orange;
}

.weather-frame {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
}
